/* The background */
html { 
    width: 100%;
    height: 100%;
    background-image: url("images/night\ art.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif; 
 }
/* The navigation section */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

li {
    display: inline;
} 

li a {

    color: whitesmoke;
    text-decoration: none;

}  

li a:hover {
    text-decoration: underline;
}


.idreamtlogo {
    font-weight: bold;
    font-size: 32px;
    position: relative;
    top: 17px;
    left: 3%;
}

.about {
    float: right;
    position: relative;
    right: 2%;
    top: 20px;
    font-size: 20px;
}


/* main section  */
.main-text {
    color: whitesmoke;
    position: absolute;
    text-align: center;
    width: 774px;
    height: 61px;
    top: 230px;
    left: 350px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size:30px;

    }
    ​
h1 {
font-weight: 600;
width: 900px;
font-size: 65px;
color: whitesmoke;
line-height: 80px ;
text-align: center;
letter-spacing: -0.015em;
white-space: nowrap;

color: #F0F0F0;
}


.sub-main {
    color: #FCA17D;
}

.button {

        display: block;
        background: rgba(255, 255, 255, 0.7);
        border-radius: 28px;
        color: black;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        border-radius: 15px;
        padding: 0 15px;
        width: 25%;
        margin: auto;
        border: none;
        position: relative;
        top: 40px;
        padding: 5px;
        cursor: pointer;
        text-decoration: none;
        position: absolute;
left: 39.5%;
right: 61.5%;
top: 53.63%;
bottom: 41.29%;

}

button a {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-decoration-line: none;
    transition: .5s;
}


button a:hover {
    text-decoration-line: underline;
    font-size: medium;
}
      
    /* Find out what your dream really means. */
p {
    position: absolute;
    width: 553px;
    height: 38px;
    left: 460px;
    top: 350px;

/* Body H4 */
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 36px;
/* or 150% */

text-align: center;
letter-spacing: -0.015em;

color: #E5E5E5;
}

/* The changing dream options */

span:before {
    content: "";
    animation: animate infinite 10s; 
}

@keyframes animate {
    0%{
        content:"i was flying";
    }
    20%{
        content:"i was running";
    }
    40% {
        content:"i was falling";
    }
    60% {
        content:"i was chased";   
    }
    80% {
        content:"i was naked";
    }
    100% {content:"i was lost";
    }
}